<%- include("partials/header") %>
<div class="my-2 text-center">
    <form class="form" action="/register" method="POST">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password">
        <input type="submit" class="btn btn-primary">
    </form>
</div>
<%- include("partials/footer") %>